<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Font Awesome Icons (for the icons) -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://cdn.datatables.net/v/bs5/dt-1.13.5/datatables.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
          <i class="fas fa-icons"></i> CRUD App
        </a>

        <!-- Navbar toggler button for mobile -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <!-- Home -->
            <li class="nav-item">
              <a class="nav-link" href="/">
                <i class="fas fa-home"></i> Home
              </a>
            </li>

            <!-- Add -->
            <li class="nav-item">
              <a class="nav-link" href="/add">
                <i class="fas fa-plus"></i> Add User
              </a>
            </li>

            <!-- About -->
            <li class="nav-item">
              <a class="nav-link" href="/about">
                <i class="fas fa-info-circle"></i> About
              </a>
            </li>

            <!-- Contact -->
            <li class="nav-item">
              <a class="nav-link" href="/contact">
                <i class="fas fa-envelope"></i> Contact
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
